

.taskBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 5px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid black;
    min-width: 200px;
    width: fit-content;
    justify-content: space-between;
}
.taskContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 15px;
}
.taskTitle {
    font-size: 11pt;
    max-width: 150px;
}
.taskTitle.done {
    color: gray;
    text-decoration: line-through;
}

.textInputContainer {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 5px;
}